@model SistemaUniversidadv1._0.Models.UsuarioCLS

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Información del Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <!-- Columna Izquierda -->

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre_usuario, "Nombre", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nombre_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.apellido_usuario, "Apellido", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.apellido_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.apellido_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sexo_id, "Sexo", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.sexo_id, new SelectList(ViewBag.Sexos, "id_sexo", "nombre_sexo"), "Seleccione un Sexo", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.sexo_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dni_usuario, "Dni", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dni_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dni_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.localidad_id, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.localidad_id, new SelectList(ViewBag.localidades, "id_localidad", "nombre_localidad"), "Seleccione una localidad", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.localidad_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email_usuario, "Email", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.email_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <!-- Columna Derecha -->

                <div class="form-group">
                    @Html.LabelFor(model => model.fecha_nacimiento_usuario, "Fecha de Nacimiento", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.fecha_nacimiento_usuario, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.fecha_nacimiento_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.edad_usuario, "Edad", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.edad_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.edad_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.celular_usuario, "Celular", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.celular_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.celular_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.usuario_usuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.usuario_usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.usuario_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.clave_usuario, "Clave", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.clave_usuario, new { @class = "form-control", type = "password" }) <!-- Cambiado a TextBoxFor con tipo password -->
                        @Html.ValidationMessageFor(model => model.clave_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.condicion_usuario_id, "Condicion", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.condicion_usuario_id, new SelectList(ViewBag.condicionusuario, "id_condicion_usuario", "nombre_condicion_usuario"), "Seleccione una condicion", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.condicion_usuario_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.rol_id, "Rol", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.rol_id, new SelectList(ViewBag.Roles, "id_rol", "nombre_rol"), "Seleccione un rol", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.rol_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.estado_usuario, "Estado", new { @class = "control-label" })
                        <div class="form-check form-switch mt-2">
                            @Html.CheckBoxFor(model => model.estado_usuario, new { @class = "form-check-input", role = "switch", id = "estado_usuario" })
                            <label class="form-check-label" for="estado_usuario">Activo</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.estado_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
                @Html.ActionLink("Volver a la lista", "Index", "Usuario", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
